# Mac
.DS_Store

#R
.Rproj.user
.Rhistory
.RData
.Ruserdata

#method implementation testing
/method_testing

#scripts for comparison
/brian-scripts
#compare_summaries.ipynb (for easier access on screen share)

/SSD_mtx


